header{
    height:4em;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: azure;
    gap: 15vw;
   
}

.cart{
    background-color:#ff0000;
    margin: 0.5rem;
    
    height: 2.5em;
    border-radius: 10px;
    width: 150px;
    
    display: flex;
    justify-content: center;
    place-items: center;
    
}